#gradient-table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	/* margin: 45px; */
	margin-top: 10px;
    margin-bottom: 45px;
    margin-right: 45px;
    margin-left: 45px;
	width: 815px;
	text-align: left;
	border-collapse: collapse;
}
#gradient-table th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('../img/gradient-table/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
#gradient-table td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('../img/gradient-table/gradback.png') repeat-x;
}
#gradient-table tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
#gradient-table tbody tr:hover td
{
	background: #d0dafd url('../img/gradient-table/gradhover.png') repeat-x;
	color: #339;
}
