
/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/

.videoscroll {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 925px;
	height:120px;

	/* custom decorations */
	border:1px solid #ccc;
	background:url(../img/scrollable/gradient/h300.png) repeat-x;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.videoscroll .videoitems {
	/* this cannot be too large */
	width:20000em;
	position:absolute;
	clear:both;
}

.videoitems div {
	float:left;
	width:940px;
}

/* single scrollable item */
.videoscroll img {
	float:left;
	margin:20px 5px 20px 21px;
	background-color:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:120px;
	height:75px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.videoscroll img.hover {
	background-color:#123;	
}

/* active item */
.videoscroll .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}


