.yweather {color:#000;background:#FFF;
           font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;
		   text-align:center;
}
.yweather div,.yweather dl,.yweather dt,.yweather dd,.yweather ul,.yweather ol,.yweather li,.yweather h1,.yweather h2,.yweather h3,.yweather h4,
.yweather h5,.yweather h6,.yweather pre,.yweather code,.yweather form,.yweather fieldset,.yweather legend,.yweather input,.yweather textarea,
.yweather p,.yweather blockquote,.yweather th,.yweather td{margin:0;padding:0;}
.yweather table{border-collapse:collapse;border-spacing:0;}
.yweather fieldset,.yweather img{border:0;}
.yweather address,.yweather caption,.yweather cite,.yweather code,.yweather dfn,.yweather em,.yweather strong,.yweather th,
.yweather var{font-style:normal;font-weight:normal;}
.yweather li{list-style:none;}
.yweather caption,.yweather th{text-align:left;}
.yweather h1,.yweather h2,.yweather h3,.yweather h4,.yweather h5,.yweather h6{font-size:100%;font-weight:normal;}
.yweather q:before,.yweather q:after{content:'';}
.yweather abbr,.yweather acronym{border:0;font-variant:normal;}
.yweather sup{vertical-align:text-top;}
.yweather sub{vertical-align:text-bottom;}
.yweather input,.yweather textarea,.yweather select{font-family:inherit;font-size:inherit;font-weight:inherit;}
.yweather legend{color:#000;}
.yweather table{font-size:inherit;font:100%;}
.yweather pre,.yweather code,.yweather kbd,.yweather samp,.yweather tt{font-family:monospace;*font-size:108%;line-height:100%;}


#ft{clear:both;}
.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{margin:auto;text-align:left;width:57.69em;*width:57.801em;min-width:750px;}
.yui-b{position:relative;}
.yui-b{_position:static;}
#yui-main .yui-b{position:static;}
#yui-main{width:100%;}
.yui-t1 #yui-main,.yui-t2 #yui-main,.yui-t3 #yui-main{float:right;margin-left:-25em;}
.yui-t4 #yui-main,.yui-t5 #yui-main,.yui-t6 #yui-main{float:left;margin-right:-25em;}
.yui-t1 .yui-b{float:left;width:12.3207em;*width:12.0106em;}
.yui-t1 #yui-main .yui-b{margin-left:13.3207em;*margin-left:13.0106em;}
.yui-t2 .yui-b{float:left;width:13.8456em;*width:13.512em;}
.yui-t2 #yui-main .yui-b{margin-left:14.8456em;*margin-left:14.512em;}
.yui-t3 .yui-b{float:left;width:23.0759em;*width:22.52em;}
.yui-t3 #yui-main .yui-b{margin-left:24.0759em;*margin-left:23.52em;}
.yui-t4 .yui-b{float:right;width:13.8456em;*width:13.512em;}
.yui-t4 #yui-main .yui-b{margin-right:14.8456em;*margin-right:14.512em;}
.yui-t5 .yui-b{float:right;width:18.4608em;*width:18.016em;}
.yui-t5 #yui-main .yui-b{margin-right:19.4608em;*margin-right:19.016em;}
.yui-t6 .yui-b{float:right;width:23.0759em;*width:22.52em;}
.yui-t6 #yui-main .yui-b{margin-right:24.0759em;*margin-right:23.52em;}
.yui-t7 #yui-main .yui-b{display:block;margin:0 0 1em 0;}
#yui-main .yui-b{float:none;width:420px;}
.yui-g .yui-gb .yui-u,.yui-gb .yui-g,.yui-gb .yui-gb,.yui-gb .yui-gc,.yui-gb .yui-gd,.yui-gb .yui-ge,.yui-gb .yui-gf,.yui-gb .yui-u,.yui-gc .yui-u,.yui-gc .yui-g,.yui-gd .yui-u{float:left;margin-left:2%;width:32%;}
.yui-gb .yui-gb .yui-u,.yui-gb .yui-gc .yui-u{*margin-left:1.8%;_margin-left:4%;}
.yui-g .yui-gb .yui-u{_margin-left:.8%;}
.yui-gb .yui-u{float:right;}
.yui-gb div.first{margin-left:0;float:left;}
.yui-g .yui-gb div.first,.yui-gb .yui-gb div.first{*margin-right:0;*width:32%;_width:31.7%;}
.yui-gb .yui-gc div.first,.yui-gb .yui-gd div.first{*margin-right:0;}
.yui-gb .yui-gd .yui-u{*width:66%;_width:61.2%;}
.yui-gb .yui-gd div.first{*width:31%;_width:29.5%;}
.yui-g .yui-gc .yui-u,.yui-gb .yui-gc .yui-u{width:32%;_float:right;margin-right:0;_margin-left:0;}
.yui-gb .yui-gc div.first{width:66%;*float:left;*margin-left:0;}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf .yui-u{margin:0;}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf,.yui-gc .yui-u,.yui-gd .yui-g,.yui-g .yui-gc .yui-u,.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf .yui-g,.yui-gf .yui-u{float:right;}
.yui-g .yui-gc div.first,.yui-g .yui-ge div.first,.yui-g div.first,.yui-gc div.first,.yui-gc div.first div.first,.yui-gd div.first,.yui-ge div.first,.yui-gf div.first{float:left;}
.yui-g .yui-g .yui-u,.yui-gb .yui-g .yui-u,.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u,.yui-ge .yui-g .yui-u,.yui-gf .yui-g .yui-u{width:49%;*width:48.1%;*margin-left:0;}
.yui-g .yui-g div.first{*margin:0;}
.yui-gb .yui-g div.first{*margin-right:4%;_margin-right:1.3%;}
.yui-gb .yui-gb .yui-u{_margin-left:.7%;}
.yui-gb .yui-g div.first,.yui-gb .yui-gb div.first{*margin-left:0;}
.yui-gc .yui-g .yui-u,.yui-gd .yui-g .yui-u{*width:48.1%;*margin-left:0;}
.yui-g .yui-u,.yui-g .yui-g,.yui-g .yui-gb,.yui-g .yui-gc,.yui-g .yui-gd,.yui-g .yui-ge,.yui-g .yui-gf{width:49.1%;}
.yui-g .yui-gb div.first,.yui-gb div.first,.yui-gc div.first,.yui-gd div.first{margin-left:0;}
.yui-g .yui-gc div.first,.yui-gc div.first,.yui-gd .yui-g,.yui-gd .yui-u{width:66%;}
.yui-gd div.first,.yui-gb .yui-gd div.first{width:32%;}
.yui-g .yui-gd div.first{_width:29.9%;}
.yui-ge .yui-u,.yui-ge .yui-g,.yui-gf div.first{width:24%;}
.yui-gb .yui-ge div.yui-u,.yui-gb .yui-gf div.yui-u{float:right;}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf div.first{float:left;}
.yui-ge div.first,.yui-gf .yui-g,.yui-gf .yui-u{width:74.2%;}
.yui-gb .yui-ge .yui-u,.yui-gb .yui-gf div.first{*width:24%;_width:20%;}
.yui-gb .yui-ge div.first,.yui-gb .yui-gf .yui-u{*width:73.5%;_width:65.5%;}
#bd:after,.yui-g:after,.yui-gb:after,.yui-gc:after,.yui-gd:after,.yui-ge:after,.yui-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#bd,.yui-g,.yui-gb,.yui-gc,.yui-gd,.yui-ge,.yui-gf{zoom:1;}
.yui-gb .yui-u{float:left;}
.clear{clear:both;}
a{text-decoration:none;color:#039;}
a:hover{text-decoration:underline;}
#yw-forecast{clear:both;position:relative;width:100%;min-height:190px;height:14.6154em;*height:14.2632em;margin-bottom:15px;background:#CCE1FF url(../img/yahooweather/crntcondbg_day.gif) repeat-x;border:1px solid #5182ce;border-left:none;border-right:none;}
#yw-forecast.night{border:1px solid #8e8e8e;border-left:none;border-right:none;background:#DFDDE2 url(../img/yahooweather/crntcondbg_night.gif);}
#yw-forecast em{display:block;font-size:77%;padding:10px 0 5px 10px;}
#yw-forecast h2{color:#000;font-size:129%;font-weight:bold;padding:5px 0 5px 15px;position:relative;z-index:2;}
#yw-forecast #yw-cond{color:#000;font-size:129%;font-weight:bold;padding:5px 0 5px 10px;position:relative;z-index:2;}
#yw-forecast dl{color:#000;font-size:85%;padding:5px 0 14px 10px;*padding-bottom:10px;}
#yw-forecast dt{float:left;min-width:70px;width:8.0em;}
#yw-forecast dd{margin-bottom:2px;z-index:2;}
#yw-forecast .forecast-temp{position:absolute;top:50px;right:6px;min-width:200px;width:15.3846em;*width:15.0138em;background:url(../img/yahooweather/wdgt_day.png) no-repeat;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/yahooweather/wdgt_day.png',sizingMethod='crop');z-index:0;}
#yw-forecast.night .forecast-temp{background:url(../img/yahooweather/wdgt_night.png) no-repeat;_background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/yahooweather/wdgt_night.png',sizingMethod='crop');}
#yw-forecast .forecast-temp h2{float:right;color:#fff;text-shadow:#315895 0 -1px 1px;font-weight:bold;font-size:260%;padding:5px 15px 2px 0;}
#yw-forecast .forecast-temp #yw-temp{float:right;color:#fff;text-shadow:#315895 0 -1px 1px;font-weight:bold;font-size:260%;padding:5px 15px 2px 0;}
#yw-forecast .forecast-temp p{clear:right;text-align:right;padding-right:17px;color:#fff;font-size:85%;text-shadow:#315895 0 -1px 1px;}
#yw-forecast .forecast-temp ul{color:#039;list-style:none;margin:17px 0 50px 0;}
#yw-forecast .forecast-temp ul li{line-height:1.1em;}
#yw-forecast .forecast-temp ul a{color:#039;font-size:85%;position:relative;z-index:10;}
#yw-forecast .forecast-icon{position:absolute;top:0;left:145px;width:250px;height:130px;background-repeat:no-repeat;}
#yw-fivedayforecast{margin-bottom:5px;}
#yw-fivedayforecast table{color:#000;text-align:center;border-bottom:1px solid #c2daff;border-top:1px solid #4f83ce;background:#ebf3fe;}
#yw-fivedayforecast.night table{border-bottom:1px solid #b9b8c0;border-top:1px solid #544b60;background:#efebf9;}
#yw-fivedayforecast th{color:#fff;width:15%;padding:1px 0 3px;text-transform:uppercase;text-align:center;font-weight:bold;font-size:85%;border-left:1px solid #5b8dd6;border-right:1px solid #5b8dd6;background:#5F90D9 url(../img/yahooweather/frcstbg_day.gif) repeat-x top right;}
#yw-fivedayforecast.night th{border-left:1px solid #777382;border-right:1px solid #777382;background:#50485D url(../img/yahooweather/frcstbg_night.gif) repeat-x top right;}
#yw-fivedayforecast.night td{border-left:1px solid #bab7c2;border-right:1px solid #bab7c2;}
#yw-fivedayforecast tr.fiveday-icons td{text-align:center;padding-top:10px;vertical-align:top;font-weight:bold;font-size:92%;color:#333;}
#yw-fivedayforecast tr.fiveday-icons td a{font-weight:bold;font-size:92%;}
#yw-fivedayforecast tr.fiveday-icons td a:link{color:#01329b;text-decoration:underline;}
#yw-fivedayforecast tr.fiveday-icons td.extended{vertical-align:middle;padding:0 0 8px 0;}
#yw-fivedayforecast tr.fiveday-titles td{vertical-align:top;padding:0 2px;font-weight:bold;font-size:92%;color:#333;}
#yw-fivedayforecast tr.fiveday-temps td{padding:5px 0 10px;color:#333;font-weight:bold;font-size:92%;padding:5px 0 5px 0;}
#yw-fivedayforecast tr.fiveday-temps div{font-weight:normal;font-size:92%;padding:2px 0 0 0;}
#yw-fivedayforecast td{border-right:1px solid #c2daff;border-left:1px solid #c2daff;}
#yw-fivedayforecast td.nobg{border:none;}
#yw-footernav{clear:both;text-align:center;border-bottom:1px solid #ccc;padding:0 0 5px 0;}
#yw-footernav h2{display:none;}
#yw-footernav ul{display:inline;padding:5px 0;}
#yw-footernav li{display:inline;font-size:77%;padding:0 3px 0 5px;border-left:1px solid #003DB8;}
#yw-footernav li.first{border:0;}
#yw-footernav li.on a{font-weight:bold;}
#yw-univfooter{clear:both;font-family:verdana;font-size:77%;text-align:center;padding:10px 0 5px 0;}
.yui-overlay,.yui-panel-container{visibility:hidden;position:absolute;z-index:2;}
.yui-panel{position:relative;}
.yui-panel-container form{margin:0;}
.hide-scrollbars,.hide-scrollbars *{overflow:hidden;}
.yui-panel-container.show-scrollbars,.yui-tt.show-scrollbars{overflow:visible;}
.yui-panel-container.shadow .underlay.yui-force-redraw{padding-bottom:1px;}
.yui-panel-container .container-close{overflow:hidden;text-indent:-10000em;text-decoration:none;}
.yui-overlay.yui-force-redraw,.yui-panel-container.yui-force-redraw{margin-bottom:1px;}
.yui-skin-sam .yui-panel-container{padding:2px;}
.yui-skin-sam .yui-panel{position:relative;left:0;top:0;z-index:1;zoom:1;_zoom:normal;border-color:gray;border-style:solid;border-width:1px;}
.mask.block-scrollbars,.show-scrollbars,.yui-panel-container.show-scrollbars .underlay,.yui-tt.show-scrollbars .yui-tt-shadow,.y ui-skin-sam .yui-tt.show-scrollbars .bd{overflow:auto;}
.hide-scrollbars select,.yui-effect-fade .underlay,.yui-effect-fade .yui-tt-shadow{display:none;}
#doc,#doc2,#doc3,#doc4,.yui-t1,.yui-t2,.yui-t3,.yui-t4,.yui-t5,.yui-t6,.yui-t7{background:#fff;}
.wcont select{min-width:150px;max-width:150px;width:150px;}
.yui-navset .yui-nav .selected a{border-bottom-width:0;padding-bottom:1px;}
.yui-navset .yui-content{margin-top:-1px;}
.yui-navset-bottom .yui-nav .selected a{border-width:0 1px 1px;padding:1px 0 0;}
.yui-navset-bottom .yui-content{margin:0 0 -1px;}
.yui-navset-left .yui-nav li.selected a{border-width:1px 0 1px 1px;padding:0 1px 0 0;}
.yui-navset-left .yui-content{margin:0 0 0 -1px;}
.yui-navset-right .yui-nav li.selected a{border-width:1px 1px 1px 0;padding:0 0 0 1px;}
.yui-navset-right .yui-content{margin:0 -1px 0 0;}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{margin:0 .5em 0 0;}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{margin:0 0 .5em;}
.yui-navset .yui-content .yui-hidden{border:0;height:0;width:0;padding:0;position:absolute;left:-999999px;overflow:hidden;visibility:hidden;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{width:6em;}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{width:auto;}
.yui-navset .yui-navset-left,.yui-navset-left{padding:0 0 0 6em;}
.yui-navset-right{padding:0 6em 0 0;}
.yui-navset-top,.yui-navset-bottom{padding:auto;}
.yui-nav,.yui-nav li{margin:0;padding:0;list-style:none;}
.yui-navset li em{font-style:normal;}
.yui-navset{position:relative;zoom:1;}
.yui-navset .yui-content,.yui-navset .yui-content div{zoom:1;}
.yui-navset .yui-content:after{content:'';display:block;clear:both;}
.yui-navset .yui-nav li,.yui-navset .yui-navset-top .yui-nav li,.yui-navset .yui-navset-bottom .yui-nav li{display:inline-block;display:-moz-inline-stack;*display:inline;vertical-align:bottom;cursor:pointer;zoom:1;}
.yui-navset-left .yui-nav li,.yui-navset-right .yui-nav li{display:block;}
.yui-navset .yui-nav a{position:relative;}
.yui-navset .yui-nav li a,.yui-navset-top .yui-nav li a,.yui-navset-bottom .yui-nav li a{display:block;display:inline-block;vertical-align:bottom;zoom:1;}
.yui-navset-left .yui-nav li a,.yui-navset-right .yui-nav li a{display:block;}
.yui-navset-bottom .yui-nav li a{vertical-align:text-top;}
.yui-navset .yui-nav li a em,.yui-navset-top .yui-nav li a em,.yui-navset-bottom .yui-nav li a em{display:block;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset .yui-navset-right .yui-nav,.yui-navset-left .yui-nav,.yui-navset-right .yui-nav{position:absolute;z-index:1;}
.yui-navset-top .yui-nav,.yui-navset-bottom .yui-nav{position:static;}
.yui-navset .yui-navset-left .yui-nav,.yui-navset-left .yui-nav{left:0;right:auto;}
.yui-navset .yui-navset-right .yui-nav,.yui-navset-right .yui-nav{right:0;left:auto;}
#wiff{background: url(../img/yahooweather/wicons.png)}
#wiie{background:url(../img/yahooweather/wicons.gif)}
#ft form.sch1 {padding:3px 0;text-align:left;}
#yw-fivedayforecast .first{background:#5F90D9 url(../img/yahooweather/frcstbg_day.gif) repeat-x scroll right top;color:#FFFFFF;font-size:85%;font-weight:bold;padding-left:2px;text-align:left;text-transform:uppercase;width:25%;}
#yw-fivedayforecast.night .first{background:#50485D url(../img/yahooweather/frcstbg_night.gif) repeat-x scroll right top;color:#FFFFFF;font-size:85%;font-weight:bold;padding-left:2px;text-align:left;text-transform:uppercase;width:25%;}
#yw-fivedayforecast .second{width:15%;}
#yw-fivedayforecast .third{width:55%;}
#yw-fivedayforecast .third .yw-fcc{font-size:92%;font-weight:bold;padding-bottom:2px;}
#yw-fivedayforecast .third .yw-fct{font-size:87%;}
#yw-fivedayforecast .yui-gb{border:1px solid #C2DAFF;background:#EBF3FE none repeat scroll 0 0;}
#yw-fivedayforecast.night .yui-gb{border:1px solid #BAB7C2;background:#EFEBF9 none repeat scroll 0 0;}
#yw-efc{text-align:right;padding:2px;color:#01329B;text-decoration:underline;font-weight:bold;margin-bottom:5px;}
#yw-fivedayforecast{border:1px solid #C2DAFF;margin-bottom:5px;}
#yw-fivedayforecast.night{border:1px solid #BAB7C2;margin-bottom:5px;}

.zipcode-input{border-top-width:1px;border-left-width:1px;border-left-style:solid;border-top-style:solid;border-bottom:none;border-right:none;position:relative;top:-1px;width:10em;padding-left:.15em; opacity:0.5;}
.zipcode-input{top:-2px}
.zipcode-input-border{width:3.4em;height:1.31em;overflow:hidden}
.zipcode-input-border{border-style:solid;border-width:1px; border-color:#009;}
.zipcode-input-border{height:1.25em}

.seltempType {
  color:#000; font-weight:600; text-decoration:underline; cursor:pointer;
}
.unseltempType {
  cursor:pointer; text-decoration: none;
}

